
/****************star rating*****************/
#btnStar {

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  }

/*************** body *********************/
 body{
    background-image: url("https://ak.picdn.net/shutterstock/videos/3456578/thumb/1.jpg");
} 
/***********header*********************/

 .header{
  margin-top:20px; 
  margin-bottom: 20px;
} 
/*****image logo ******/
 .image-header{
float: left;
margin-top: 20px;
margin-bottom: 100px;
} 

/*****stars ******/
 .stars-header{
  float: right;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: white;
  border: none;
  border-radius: 20px;
} 
/*******search bar ********/
.search-bar{
  float: right;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 20px;
  border-radius: 20px;
  width: 370px;
  border: none;
  
}


/********btn add **********/
.btn-add{
  width: 15%;
  float: left;
  border-radius: 50px;

  
}

/************************ list movies ******************/

 .lmovies{
  width:90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 25px;
  margin-left: 50px;
  
} 



 